html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(180deg, #4a175a, #b27fc7);
    min-height: 100vh;
}

/* ===== TARJETA ===== */
.contenedor {
    max-width: 90rem;
    margin: 6rem auto;
    padding: 4rem;
    background-color: #ffffff;
    border-radius: 1.2rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* ===== TEXTO ===== */
h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #8160a7;
}

p {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #8b60bb;
}

.autor {
    margin-top: 3rem;
    font-size: 1.7rem;
}

a {
    color: #ac79e7;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}